PROJECT_NAME=Portfolio
PROJECT_SLUG=portfolio
ENVIRONMENT=dev

DB_ROOT_PASSWORD=rootP@ssw0rd
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpass

REMOTE_HOST=yourdomain.com
REMOTE_USER=yourusername
REMOTE_PASS=yourpassword
REMOTE_SSH_KEY=~/.ssh/yourkey
REMOTE_PORT=22

# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=yourappsecret
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI=https://yourdomain.com
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@db:3306/${DB_NAME}?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

EASYADMIN_USER=admin
EASYADMIN_PASSWORD=yourpassword

###> symfony/mailer ###
#MAILER_DSN=null://null
MAILER_DSN=smtp://mailpit:1025
###< symfony/mailer ###
