.DS_Store
.env
.docker/mysql/data/*
.docker/volumes/logs/mysql/*
!.docker/mysql/data/.gitkeep
!.docker/volumes/logs/mysql/.gitkeep
/node_modules/*
.pnpm-store
/src/DataFixtures/Testing/*
/bin/biome

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.tools-config/.phpunit.cache
/coverage
###< phpunit/phpunit ###

###> infection/infection ###
/.tools-config/infection.log
/.tools-config/infection-report.*
###< infection/infection ###

###> friendsofphp/php-cs-fixer ###
/.tools-config/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> vincentlanglet/twig-cs-fixer ###
/.tools-config/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
###> deptrac/deptrac ###
/.deptrac.cache
###< deptrac/deptrac ###
