<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Détermination de la base de l'URL
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Gestion des en-têtes d'autorisation
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Si le fichier demandé n'existe pas, on envoie tout vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>